<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="Cat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="uName" property="uName" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <collection property="goods" ofType="Goods"
                select="com.qfedu.mapper.GoodsMapper.selectGoodsById" column="gid" >
    </collection>
  </resultMap>
  <select id="selectByUName" parameterType="String" resultMap="BaseResultMap">
    select * from cat where uName = #{uName}
  </select>
  <select id="selectByUNameAndGid" parameterType="Cat" resultMap="BaseResultMap">
    select count(1) from cat where uName = #{uName} and gid = #{gid}
  </select>
    <insert id="addGoodsToCat" parameterType="Cat">
        insert into cat(gid,uName,num) values (#{gid},#{uName},1)
    </insert>
</mapper>